.App {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cart-btn{
    margin-left: 2rem;
    margin-top: 2rem;
}

.top{
    display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.topinput{
    margin-left: 10rem;
}